@media (prefers-color-scheme: dark) {
  body:empty {
  background-color: #161616;
}
}
 
@media (prefers-color-scheme: light) {
  body:empty {
  background-color: #FFFFF;
}
}


# This super simple stylesheet is to alleviate the bright white flash that occurs in Safari on macOS 
# when searching duckduckgo in a new tab, with dark mode selected. Enjoy surfing duckduckgo without 
# burning your retinas out at night :)
# Regards, Torsteinvin 

# How to install
# Save the stylesheet somewhere safe, ie you documents folder
# Open Safari > Settings > Advanced >Stylesheet and choose this css-file
# Quit Safari and re-open. It should now work :) 
